.* {
  box-sizing: border-box;
  
}

@media screen and (min-width: 768px) {
  .container {
      width: 70%;
      margin: 0 auto;
  }
  .content {
      font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .container {
      width: 100%;
  }
  .content {
      font-size: 14px;
  }
}

.s01 {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: poppins, sans-serif;
  background: url(../images/Search_001.png);
  background-size: cover;
  background-position: center center;
  padding: 15px;
}



.s01 form .inner-form {
  background: rgba(0, 0, 0, .5);
  padding: 50px 47px;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.s01 form .inner-form .input-field.first-wrap {
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 350px;
  height: 80px;
}

.s01 form .inner-form .input-field {
  margin-right: 30px;
  height: 68px;
}

.s01 form .inner-form .input-field.second-wrap {
  width: 32.77%;
  min-width: 180px;
}

.s01 form .inner-form .input-field.third-wrap {
  width: 180px;
  margin-right: 0;
}

.s01 form .inner-form .input-field.third-wrap .btn-search {
  height: 100%;
  width: 100%;
  background: #4272d7;
  white-space: nowrap;
  border-radius: .5px;
  font-size: 20px;
  color: #fff;
  transition: all .2s ease-out, color .2s ease-out;
  border: 0;
  cursor: pointer;
}

.container-fluid{
  color: black;
}