{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Diary</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

  <nav>
    <a href="" style="font-size: x-large; padding-top: 10px;">Client Diary</a>
    <ul>
        <li><a href="/clients">Clients</a></li>
        <li><a href="#">About Us</a></li>
    </ul>
</nav>
</header>
    
      <script src="{% static 'script.js' %}"></script>
    
      {% block start %}  

    {% endblock %}
</body>
</html>